
body{
    font-family: 'IBM Plex Mono', monospace;
}


.grid-sizer,
.grid-item { 
    max-width: 18.5%;
    max-height: auto; /* Set a maximum height for the items */
    overflow: hidden; /* Hide any content that exceeds the max height */
    opacity: 1; /* Set the default opacity to 1 for visible items */
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Add the transition property */
    margin-bottom: 20px;
    position: relative;
}



.grid{
    transition: opacity 0.3s; /* Add the transition property */
}

.wrapper{
    max-width: 1160px;
      margin-bottom: 30px;
      margin-top: 30px;
  }

.intro{
    max-width: 400px;
}

.contact-info a{
	text-decoration: none;
    border-bottom: 0;
    color: #282828;
}

.landing{
	max-width: 400px;
}

.center-ele{
	margin-left: auto;
	margin-right: auto;

}

.landing-wrapper{
	max-width: 1160px;
}

.big-container{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

button{
    background-color: transparent;
    font-family: 'IBM Plex Mono', monospace;
}

.img-container-duo{
    border: solid black;
    border-width: 0.5px;
    border-bottom: none;
}

.img-container-single{
    border: double black;
}

.text-container{
    border: solid black;
    border-width: 0.5px;
    font-size: small;
    padding: 5px;
}


/* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.385) ;
  }

.img-container-single:hover .overlay {
    opacity: 1;
  }
  
.text {
    color: white;
    font-size: small;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */

.title-inside-grid{
    font-weight: 900;
}

a{
    text-decoration: none;
}

a:visited{
    color:rgb(0, 0, 0);
  }


  