
body{
    font-family: 'IBM Plex Mono', monospace;
}

.grid-item { 
    max-width: 300px;
    max-height: 400px; /* Set a maximum height for the items */
    overflow: hidden; /* Hide any content that exceeds the max height */
    opacity: 1; /* Set the default opacity to 1 for visible items */
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Add the transition property */
}

.grid-item.hidden{
    max-height: 0; /* Set the max height to 0 for hidden items */
    opacity: 0; /* Set the opacity to 0 for hidden items */
    padding: 0; /* Optional: Remove padding for hidden items to minimize space */
}

.grid-item--width2 {
    width: 400px;
}

.grid{
    transition: opacity 0.3s; /* Add the transition property */
}

.wrapper{
    max-width: 1160px;
      margin-bottom: 30px;
      margin-top: 30px;
  }

.intro{
    max-width: 400px;
}

.contact-info a{
	text-decoration: none;
    border-bottom: 0;
    color: #282828;
}

.landing{
	max-width: 400px;
}

.center-ele{
	margin-left: auto;
	margin-right: auto;

}

.landing-wrapper{
	max-width: 1160px;
}

.big-container{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

button{
    background-color: transparent;
    font-family: 'IBM Plex Mono', monospace;
}