
body{
    font-family: 'IBM Plex Mono', monospace;
}


.grid {
    max-width: 1200px;
  }
  
  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
  
  .grid-item {
    height: 120px;
    float: left;
    overflow: hidden;
    margin-bottom: 20;
  }
  
  .grid-item--width2 { width:  200px; }
  .grid-item--width3 { width:  300px; }
  .grid-item--width4 { width:  400px; }
  .grid-item--width5 { width:  600px; }
  
  .grid-item--height2 { height: 200px; }
  .grid-item--height3 { height: 337px; }
  .grid-item--height4 { height: 400px; }
  .grid-item--height5 { height: 600px; }

.wrapper{
    max-width: 1160px;
      margin-bottom: 30px;
      margin-top: 30px;
  }

.intro{
    max-width: 400px;
}

.contact-info a{
	text-decoration: none;
    border-bottom: 0;
    color: #282828;
}

.landing{
	max-width: 400px;
}

.center-ele{
	margin-left: auto;
	margin-right: auto;

}

.landing-wrapper{
	max-width: 1160px;
}

.big-container{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

button{
    background-color: transparent;
    font-family: 'IBM Plex Mono', monospace;
}

.img-container-duo{
    border: solid black;
    border-width: 0.5px;
    border-bottom: none;
}

.img-container-single{
    border: double black;
}

.text-container{
    border: solid black;
    border-width: 0.5px;
    font-size: small;
    padding: 5px;
}


/* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.385) ;
  }

.img-container-single:hover .overlay {
    opacity: 1;
  }
  
.text {
    color: white;
    font-size: small;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */

.title-inside-grid{
    font-weight: 900;
}

a{
    text-decoration: none;
}

a:visited{
    color:rgb(0, 0, 0);
  }

.quote {
    border: solid;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.article-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.text-center{
  text-align: center;
}

hr.dotted {
  border-top: 2px dotted #000000;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%
}

.grid-left{
  text-align: center;
  font-weight: 900;
}

.grey-text{
  color: grey;
  font-weight: 400;
}

ul.b {
  list-style-type: square;
}

