html {
  scroll-behavior:smooths;
}


#intro {
    max-width: 800px;
    margin: 0 auto;
    line-height: normal;
    vertical-align: baseline;
    padding-top: 220px;
    color: blue;
    text-align: center;
    margin-bottom: 140px;
    }

.wrapper {
        text-align: center;
        background-image: linear-gradient(transparent 10%, rgb(255, 255, 255) 30%, #fff 70%, transparent 90%);
        -webkit-background-clip: text;
        background-attachment: fixed;
      }
.wrapper > *{
        color: transparent
      }


body {
    background-image: url('/img/HarryBackground.jpeg');
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: fixed;
    background-clip: border-box;
    font-family: Roboto;
}

H1 {
    text-align: right;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 1px;
    line-height: 0.9em;
    margin-left: 5cm;
    margin-right: auto;g
    margin-bottom: 10px;
}

p{
    color: black;
    font-size: larger;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.twitter-tweet{
    margin-left: auto;
    margin-right: auto;
}

.byline{
    margin-left: 12cm;
}

table {
    width: 100%;
}
th, td {
    text-align: center;
    padding: 2px;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}

ol{
    color: black;
    font-size: larger;
}


.pictureszoom{
    width: 75%;
}

#tweeterVolume{
    margin-left: 200px;
}